<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<body>

	<section layout:fragment="conteudo">

		<div class="page-header">

			<div class="container-fluid">
				<h1>Configuração do Sistema</h1>
			</div>

		</div>


		<div class="container-fluid">

             <!-- Criando o FORM da tela de CADASTRO DE ALUNO -->
			<form  class="form-vertical js-form-loading">

				<!-- Criando o FORMULÁRIO para cadastro de ALUNO -->
			
				
				

				<!-- Criação do 'Botão' -->
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Confirmar configuração</button>
				</div>

			</form>


		</div>

	</section>

</body>
</html>