<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<body>

	<section layout:fragment="conteudo">

		<div class="page-header">

			<div class="container-fluid">
			
				<div class="row">
			<div class="col-xs-10">
				<h1>
					Cadastro de Aluno
				</h1>
			</div>
			
			<div class="col-xs-2">
				<div class="aw-page-header-controls">
					<a class="btn btn-primary" href="cadastro-produto.html">
						<i class="fa  fa-plus-circle"></i> 
						<span class="hidden-xs  hidden-sm">Novo aluno</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>



		<div class="container-fluid">

			<!-- Criando o FORM da tela de CADASTRO DE ALUNO -->
			<form method="POST" class="form-vertical js-form-loading" 
			 th:object="${aluno}" 
			 th:action="@{/alunos/novo}">



				<!-- Criando o FORMULÁRIO para cadastro de ALUNO -->

                 <div class="form-group">
					<label for="nome">Nome</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
				</div>
				
				<input type="hidden" th:field="*{id}"/>
		
			

					<div class="col-sm-6">

						<div class="form-group">

							<!-- Criação do 'Botão' -->
							<div class="form-group">

								<button class="btn  btn-primary" type="submit">Salvar
									aluno</button>

							</div>

						</div>

					</div>


				




			</form>


		</div>

	</section>




</body>
</html>